<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <style>
    body{
        margin: auto;
        padding:0;
        overflow-y: scroll;
        overflow-x: hidden;
        background-image: url("http://www.zema9.com/files/attach/images/1295290/616/339/001/af3901392628e760b9dd7aade7a14105.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right 20%;
    }
    table, td {background-color: transparent;}
    
    .headfont{
        font-family: 'Iropke Batang', serif;
        font-size: 200%;
        color: rgb(255,255,255);
        vertical-align: middle;
        text-align: center;
        line-height: 100px;
        margin-top: 4%;
        z-index: 3;
    }
    
    .explain{
        font-family: 'Iropke Batang', serif;
        font-size: 100%;
        color: rgb(211, 152 ,92);
        vertical-align: middle;
        text-align: center;
        line-height: 250%;
        z-index: 3;
    }
    
    .box1{
        background-color: rgba(240,173,78,0.7);
        border-radius: 23px;
        width: 40%;
        text-align: center;
        line-height: 70px;
        padding: 2%;
        margin-top: 10%;
        margin-left: 29.8%;
        z-index: 1;
    }
    
    .box2{
        background-color: rgba(255,255,255,0.9);
        border-radius: 23px;
        width: 40%;
        text-align: center;
        vertical-align: middle;
        line-height: 250%;
        padding: 2%;
        margin-top: 2%;
        margin-left: 29.8%;
        z-index: 1;
    }
    
    #title-box {
        font-family: 'Iropke Batang', serif;
        width: 200px;
        border: 2px solid #fff;
        padding: 22px;
        text-align: center;
        line-height: 60px;
        margin-top: 30px;
        margin-left: 30px;
        color : rgb(255,255,255);
      }
      
    .index_textbox{
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: inherit;
        z-index: 2;
    }
    
    </style>

</head>

<body>
    <div id="index">
    <div class="headfont box1">당신의 위는 안녕한가요?</div>
    <div class="explain box2">오전 수업 듣느라 수고 하셨어요</br>특히 9시 수업 통학생들 힘내요. 이해해요.</br>부디 제 몫까지 맛있게 드세요</div>

    <center>
    <a href = '/game/jeongmun_enter_ur_name'><button type="button" class="btn btn-warning btn-lg" style="margin-top:6%">정문 건너면 지각할지도 몰라요.....부러우면 지는거랬는데.</button></a></br>
    <a href = '/game/maeul_enter_ur_name'><button type="button" class="btn btn-warning btn-lg" style="margin-top:1%">시간이 없다면 마을을 추천할게요.  대신 맛도 같이 없어요.</button></a></center>
    
    </div>
</body>